<!--    footer-->
<section id="footer">
    <section id="details">
        <div class="bottom">
            <div>
                <p>Faculty advisors:<p>
                        <p>Dr. Rashmi Gupta, mrs.Pinky Chug, mr. Sushil Jindhal</p>
                        <br>
                        <p>Coordinator:<p>
                                <p>Nikhil Mainali</p>
                                <p>Co-coordinator:</p>
                                <p>Sujoy Chandra</p>
                                <p>Fest Coordinator:</p>
                                <p>Jayesh Kartik</p>
                                <p>Other event heads:</p>
                                <p>Sakshi Latwal,Shubhi Bhardwaj,Ankit,Sourav Sagar,Siddhart Vats</p>
                                <br>
                                <p>Sponsership:</p>
                                <p>Aditi Kaushik,Pryank,Anuj</p>
                                <br>
                                <p>Website Developer:</p>
                                <p>Vivek Rautela</p>
                                <p>Technical Coordinator:</p>
                                <p>Saurav Sagar</p>
            </div>
        </div>
    </section>

    

    <section id="sponser">
        <div class=" sponser-container">
            <h1 class="sponser-title">Sponsers</h1>
            <marquee behavior="scroll" direction="left" scrollamount="15">
                <div class=" sponser-div">
                    <img class="sponser-img " src="assets/css/images/home/poster.jpg" alt="sponser">
                    <br>
                    <p class="sponser-name">name</p>
                </div>
                <div class=" sponser-div">
                    <img class="sponser-img " src="assets/css/images/home/poster.jpg" alt="sponser">
                    <br>
                    <p class="sponser-name">name</p>
                </div>
                <div class=" sponser-div">
                    <img class="sponser-img " src="assets/css/images/home/poster.jpg" alt="sponser">
                    <br>
                    <p class="sponser-name">name</p>
                </div>
            </marquee>

        </div>


    </section>



    <!--    links-->
    <section id="social-media">
        <div class="bottom-container">
            <i class="fab fa-facebook-f icon"></i>
            <i class="fab fa-instagram icon"></i>
            <i class="fab fa-twitter icon"></i>
        </div>
        <p class="copyright">Ⓒ 2020 Expression's. All rights reserved.</p>
    </section>
</section>
