<!--    events-->
<section id="event">

        <div class="committee-events">
            <h1 class="committee-event-title">Events</h1>
            <div id="carousel-event" class="carousel slide" data-ride="carousel">
                <div class="events">
                    <div class="container">
                        <div class="carousel-inner ">
                            <div class="carousel-item  active">
                                <h2 class="expression-title event-title ">Expression's</h2>
                                <p class="expression-text event-text ">Expressions is an annual fest conducted by the Linguistic Committee with the motive of enhancement of communication skills. Expressions gives each student a platform to develop confidence, gain knowledge and stimulate thinking. It also gives a golden opportunity of public speaking thus eliminating stage fear and improving speaking skills.
                                </p>
                                <br>
                                <a routerLink="/expression">Read more</a>

                            </div>
                            <div class="carousel-item">
                                <h2 class="event-title">White Collar</h2>
                                <p class="event-text ">It is a group discussion event in which the participants are given a live based case study to discuss.Every participant gets 1 minute time to conclude after the discussion.The performance of the participants is gauged on various parameters like Leadership quality, knowledge of the topic, communication skills, etc.</p>
                            </div>
                            <div class="carousel-item">
                                <h2 class="event-title ">TOPLE</h2>
                                <p class="event-text ">This event is specially organised for first and second year students. It judges the level of Basic English among the COERian</p>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev carousel-button" href="#carousel-event" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next carousel-button" href="#carousel-event" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <h1 class="informal"> WE ALSO CONDUCT VARIOUS FUN-FILLED INFORMAL EVENTS</h1>



    </section>
