body {
    text-align: center;
    background-color: #596164;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

p {
    display: inline;
    font-size: 15px;
}

/*navbar*/
.properties {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: fixed;
}

.nav-title {
    font-size: 20px;
}


/*top-container*/

#home {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.top-container {
    position: relative;

    animation: animate 20s ease-in-out infinite;
    background-size: cover;
    background-position: center;
    background-color: aquamarine;
    margin-bottom: 0;

}

@keyframes animate {

    0%,
    100% {
        background-image: url(images/b1.png);
    }

    25% {
        background-image: url(images/b2.png);
    }

    50% {
        background-image: url(images/b3.png);
    }

    75% {
        background-image: url(images/b4.png);
    }
}



.writeup {
    text-align: center;
    margin-bottom: 9rem;
    padding: 25% 0;
    font-size: 5rem;
    color: white;

}

.fest-name {
    font-size: 4.1rem;
    font-family: "Bro Rintto Regular";
    font-weight: bold;
}


/*committee-discription*/

#Committee-Discription {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.main {
    width: 50%;
    height: 50%;
    margin: 10% 25% 6%;
}

.text {
    padding: 5% 8% 10%;
}

.title {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 8%;

}

.discription {
    font-size: 1.3rem;
    line-height: 1;

}

/*events*/
#event {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #868f96;
    color: white;
}

.committee-event-title {
    padding: 4% 0 0;
}

.committee-events {
    text-align: center;
    padding: 5% 0;

}

.events {
    text-align: center;
    padding: 3% 10% 15%;
    height: 400px;
}

.event-title {
    padding: 5% 0;
    font-size: 2.3rem;
}

.event-text {
    text-align: right;
    padding: 0 2%;
    font-size: 1.3rem
}

.informal {
    text-align: center;

    padding: 3% 0 5% 0;
    font-size: 2.1rem;
}

/*footer*/

#footer {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.bottom {
    padding: 15% 10%;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
}


/*social-media*/
#social-media {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #868f96;
    color: white;
}

.bottom-container {
    text-align: center;
    padding: 5% 0;
    font-size: 20px;
}

.icon {
    text-align: center;
    margin: 3px 5px 0;
    width: 5%;
    height: 5%;
}

.copyright {
    margin: 0 40.5% 6%;
    font-size: 0.9rem;
}


@media (max-width: 1200px) {
    
    .writeup {
        font-size: 2rem
    }

    .fest-name {
        font-size: 2.5rem;
    }

    .main {
        position: relative;
        right: 15.375%;
        width: 80%;
        height: 80%;
    }

    .title {
        font-size: 1.9rem;

    }

    .discription {
        font-size: 1.1rem;
    }

    .committee-event-title {
        font-size:2rem;
        padding: 12% 0 0;
    }

    .events {
        padding: 12% 10%;
    }

    .event-title {
        font-size: 1.3rem;
    }

    .event-text {
        font-size: 0.91rem;
    }

    .informal {
        font-size: 1.4rem;
        text-align: center;
        padding: 5% 0 8%;
    }

    .bottom {
        font-size: 1.2rem;
        padding: 25% 6%;
        line-height: 1;
    }

    .bottom-container {
        padding: 12% 0;
    }

    .copyright {
        margin: 0 20% 6%;
        font-size: 0.8rem;
    }

}
