/*
body{
    background-color:blue;
}
*/

#events{
     width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #868f96;
    color: white;
    text-align: center;
}

.exp-img{
    width:30%;
    height:70%;
    float:left;
    margin:0 5% 0 0;
}

.horizontal-image{
    width:42%;
    height:60%;
    float:left;
    margin:0 5% 0 0;
}

.event-heading{
    font-size:2rem;
    margin:5% 0 3%;
}
.main-event-heading{
    font-size:2.5rem;
    margin:5% 0 3%;
}

.class-container{
    height:700px;
}


@media (max-width: 900px){
    .event-container{
        padding:3% 10%;
    }
    
    
    .event-heading{
        font-size:1.8rem;
        margin:12% 0 4%;
    }
    
    .main-event-heading {
        font-size:2rem;
        margin:12% 0 4%;
    }
    
    .exp-img{
        width:200px;
        height:250px;
    }
    
    .horizontal-image{
        width:250px;
        height:170px;
    }

}