 <section id="events">
     <!--     <div class="container">-->
     <div id="carousel-event" class="carousel slide" data-ride="carousel">
         <div class="container class-container">
             <div class="carousel-inner ">

                 <div class="carousel-item  active ">
                     <div class=" event-container">
                         <h1 class="main-event-heading">Expression's 20</h1>

                             <img class="exp-img" src="assets/css/images/events/Expressions'%202019.jpg">
                             <p>Expressions is an annual fest conducted by the Linguistic Committee with the motive of enhancement of communication skills. Expressions gives each student a platform to develop confidence, gain knowledge and stimulate thinking. It also gives a golden opportunity of public speaking thus eliminating stage fear and improving speaking skills.</p>
                        
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading">Big Fight</h1>

                             <img class=" horizontal-image" src="assets/css/images/events/Big-Fight.jpg">
                             <p>Its a group discussion event. The Topics for the discussion are provided 30 mins before the event to every team and a little time is avaliable to them for preparing for the topics. Teams are made on the basis of their token ids. The best speaker from each group is selected for the final round where the best of the best compete for the winner's title.</p>
            
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading"> Crossfire</h1>
                         
                             <img class="exp-img" src="assets/css/images/events/Crossfire.jpg">
                             <p>Its a debate event in which the speaker has to speak on the topic of their choice from the list of topics that is provided to them prior the event. He or She will be judged on the basis of their confidence and their speaking skill.The best speakers will be promoted to the next round which is the rebuttel. The topic is given to them on spot and a little time is given for prepration, judges and the opostion and the audience has the authority to ask questions on the topic.</p>
                        
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading">Senate</h1>

                             <img class="exp-img" src="assets/css/images/events/SENATE.jpg">
                             <p class="event-discription">Its a parliamentory debate where you are given a topic ,a parliamentry topic and the two parties argue on the topic for its pros and cons.The topics will be provided on spot fearferafereg fergferfger gergergergegdfgsdrdfsg5r4wesrgdrsgdsgdfdf dfgdgd fsger ger gdfsg dfgsdgsrsegsdfgsvd fgdfgdfsgsdfgergdsgds gdsfgsdfgrdfgcfdgrgd dfgdsfgers dfgsdg sgsdfg vdgerg edsfgseg dgsdg dsfgsgss fgsdfgsegdfsg</p>
                         
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading"> Spellathon</h1>

                         
                             <img class="exp-img" src="assets/css/images/events/SPELL.jpg">
                             <p>Its a pen paper based event which could be a miniature version of The SpellBee. There are two rounds first is pen paper and the second is listening and spelling based.Tortor aliquam nulla facilisi cras fermentum. Id neque aliquam vestibulum morbi. Magna etiam tempor orci eu. Blandit cursus risus at ultrices mi. Accumsan in nisl nisi scelerisque eu. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh. Dolor magna eget est lorem ipsum dolor sit. Tempor nec feugiat nisl pretium fusce. Ut etiam sit amet nisl purus in. Feugiat vivamus at augue eget arcu dictum. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.</p>
                         
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading"> Imagram </h1>
                         
                             <img class="exp-img" src="assets/css/images/events/imagram-final.jpg">
                             <p>In this a picture is shown and you have to write a story based on it.Tortor aliquam nulla facilisi cras fermentum. Id neque aliquam vestibulum morbi. Magna etiam tempor orci eu. Blandit cursus risus at ultrices mi. Accumsan in nisl nisi scelerisque eu. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh. Dolor magna eget est lorem ipsum dolor sit. Tempor nec feugiat nisl pretium fusce. Ut etiam sit amet nisl purus in. Feugiat vivamus at augue eget arcu dictum. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.</p>
                         
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading"> Sportech</h1>

                             <img class="horizontal-image" src="assets/css/images/events/Sportech.jpg">
                             <p>Its a sport based quiz event. Its a multi level event where there is pen paper in the first round and a group discussion in the final round .Tortor aliquam nulla facilisi cras fermentum. Id neque aliquam vestibulum morbi. Magna etiam tempor orci eu. Blandit cursus risus at ultrices mi. Accumsan in nisl nisi scelerisque eu. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh. Dolor magna eget est lorem ipsum dolor sit. Tempor nec feugiat nisl pretium fusce. Ut etiam sit amet nisl purus in. Feugiat vivamus at augue eget arcu dictum. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.</p>
                         
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading"> Moot Court</h1>
                         
                             <img class="exp-img" src="assets/css/images/events/moot%20court%20final.jpg">
                             <p>dit cursus risus at ultrices mi. Accumsan in nisl nisi scelerisque eu. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh. Dolor magna eget est lorem ipsum dolor sit. Tempor nec feugiat nisl pretium fusce. Ut etiam sit amet nisl purus in. Feugiat</p>
                         
                     </div>
                 </div>

                 <div class="carousel-item">
                     <div class="event-container">
                         <h1 class="event-heading"> Adzap</h1>
                         
                             <img class="exp-img " src="assets/css/images/events/Adzap.jpg">
                             <p>Its a ad based quiz competition.Tortor aliquam nulla facilisi cras fermentum. Id neque aliquam vestibulum morbi. Magna etiam tempor orci eu. Blandit cursus risus at ultrices mi. Accumsan in nisl nisi scelerisque eu. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh. Dolor magna eget est lorem ipsum dolor sit. Tempor nec feugiat nisl pretium fusce. Ut etiam sit amet nisl purus in. Feugiat vivamus at augue eget arcu dictum. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.</p>
                  
                     </div>
                 </div>
             </div>
             <a class="carousel-control-prev carousel-button" href="#carousel-event" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
             </a>
             <a class="carousel-control-next carousel-button" href="#carousel-event" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
             </a>
         </div>
     </div>
     <!--     </div>-->

 </section>
